.background {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/d/db/Operation_Sci-Fi_Con_2015_WH40K.jpg");
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(5px);
	height: 100vh;
	width: 100vw;
}
body, html {
	height: 100vh;
}
.textStuff {
	position: relative;
	top: -100%;
	text-align: center;
	color: white;
}
p {
	font-size: xx-large;
}
nav {
	color: white;
	font-size: xxx-large;
}
.textStuff2 {
	position: relative;
	top: -100%;
	color: white;
	text-align: center;
	font-size: xx-large;
}
@media screen and (max-width: 600px){
	.background{
		height: 200vh;
	}
	.textStuff, .textStuff2 {
		top: -200%;
	}
	.body,html {
		height: 100vh;
	}
}